@import "tailwindcss";

* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background:#000 radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.large-text {
  font-size: 100px;
}

.sublarge-text {
  font-size: 50px;
}

.title-text {
  font-size: 30px
}

.sub-text {
  font-size: 21px
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}


.text-shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);  /* 위로 튀는 효과 */
  }
  100% {
    transform: translateY(0);
  }
}

.letter-animation {
  display: inline-block;
  animation: bounce 0.6s ease-in-out infinite; /* 기본 애니메이션 */
}

.letter-0 {
  animation-delay: 0s;
}
.letter-1 {
  animation-delay: 0.1s;
}
.letter-2 {
  animation-delay: 0.2s;
}
.letter-3 {
  animation-delay: 0.3s;
}
.letter-4 {
  animation-delay: 0.4s;
}
.letter-5 {
  animation-delay: 0.5s;
}






/* 글자가 수평으로 나올 수 있게 설정 */
.typing-effect {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  opacity: 0;
  animation: typing 2s steps(1) forwards;
}

@keyframes typing {
  to {
    opacity: 1;
  }
}

/* 각 글자마다 순차적으로 나타나게 설정 */
.typing-effect:nth-child(1) {
  animation-delay: 0s;
}

.typing-effect:nth-child(2) {
  animation-delay: 0.1s;
}

.typing-effect:nth-child(3) {
  animation-delay: 0.2s;
}

.typing-effect:nth-child(4) {
  animation-delay: 0.3s;
}

.typing-effect:nth-child(5) {
  animation-delay: 0.4s;
}

.typing-effect:nth-child(6) {
  animation-delay: 0.5s;
}

.typing-effect:nth-child(7) {
  animation-delay: 0.6s;
}

/* 점에 깜빡이는 애니메이션 적용 */
.typing-dot {
  display: inline-block;
  opacity: 0;
  animation: typing 2s steps(1) forwards, blink 1s step-start infinite;
  animation-delay: 2.5s; /* 타이핑 애니메이션이 끝난 후 깜빡이기 시작 */
  vertical-align: middle; /* 수평선에 맞춰 점을 올리기 */
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
