@import "tailwindcss";

* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background:#000 radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.large-text {
  font-size: 100px;
}

.sublarge-text {
  font-size: 50px;
}

.title-text {
  font-size: 30px
}

.sub-text {
  font-size: 21px
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}

/* .text-shadow-xl {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
} */

.text-shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}
