@import "tailwindcss";

* {
  user-select: none;
  -webkit-user-drag: none;
}

body {
  background:#000 radial-gradient(ellipse at center, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.large-text {
  font-size: 100px;
}

.sublarge-text {
  font-size: 50px;
}

.title-text {
  font-size: 30px
}

.sub-text {
  font-size: 21px
}

.stroke-text {
  -webkit-text-stroke: 1px white;
  color: transparent;
}


.text-shadow {
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);  /* 위로 튀는 효과 */
  }
  100% {
    transform: translateY(0);
  }
}

.letter-animation {
  display: inline-block;
  animation: bounce 0.6s ease-in-out infinite; /* 기본 애니메이션 */
}

.letter-0 {
  animation-delay: 0s;
}
.letter-1 {
  animation-delay: 0.1s;
}
.letter-2 {
  animation-delay: 0.2s;
}
.letter-3 {
  animation-delay: 0.3s;
}
.letter-4 {
  animation-delay: 0.4s;
}
.letter-5 {
  animation-delay: 0.5s;
}